.footer-container { 
    background-color: black;
    color: #fff;
    position: relative;
    display: flex;
    width: 100vw;
    height: 15em;
    justify-content: center;
    align-items: center;
    margin-top: auto;


}